# Binaries for programs and plugins
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendor needs to be commited for the plugin to work
# vendor/

# Paid IP2Location BINs (not redistributable)
testdata/IP2LOCATION-DB8*.BIN
testdata/IP2LOCATION-DB8*.BIN.ZIP
testdata/IP-COUNTRY-REGION-CITY-*.BIN